<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>/users/alejandro/desktop/desafio latam g-26/portal-libros:</strong>
  <%= @book./Users/alejandro/Desktop/Desafio latam G-26/Portal-libros %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
