<!DOCTYPE html>
<html>
  <head>
    <title>BookPortal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <% if user_signed_in? %>
        <%= link_to 'Libros', books_path, class: "button is-info is-inverted"%>
        <%= link_to 'Compras', purchase_rentings_path, class: "button is-info" %>
        <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "button is-info" %>
      <% else %>
          <%= link_to 'Ingresar', new_user_session_path, class: "button is-info" %>     
          <%= link_to 'Registrase', new_user_registration_path, class: "button is-info" %>
      <% end %>
      
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
